configuration {
  modi: "drun,settings:~/.local/bin/rofi-control-center.py";
	font: "Sauce Code Pro 12";
	show-icons: true;
	terminal: "rofi-sensible-terminal";
	kb-screenshot: "Alt+S";
}

@theme "gruvbox-dark"
